{{template "header" .Header}}

<h1>COVID 19 Testing Locations Near Me</h1>

<p class="text-info">Show covid testing locations near my current location.</p>
<p class="text-warning">Please stay safe and take care of ours!!!</p>

<div class="vh-60 w-100" id="mapDiv">
  <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=covid%20testing&key=AIzaSyD9Lv8AUsCVNDY2oniFkMK-5hyInXgQfuA&zoom=10" allowfullscreen referrerpolicy="origin-when-cross-origin"></iframe>
</div>

{{template "footer"}}