{{define "footer"}}
    <!--body container-->
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script async type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ecd86b83e2f2f66"></script>
  </body>
</html>
{{end}}